<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages/" />
  </config>
  <packageSources>
    <add key="AspNet-OpenIdConnect-Server" value="https://www.myget.org/F/aspnet-openidconnect-server/" />
    <add key="WebStack Nightly" value="http://www.myget.org/f/aspnetwebstacknightly/" />
    <add key="AzureAd Nightly" value="http://www.myget.org/F/azureadwebstacknightly/" />
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>