<div class="jumbotron">
    <h1>An OpenID Connect error has occurred</h1>
    <p class="lead text-left">
        <strong>@Model.Error</strong>
        @if (!string.IsNullOrWhiteSpace(Model.ErrorDescription)) {
            <small>@Model.ErrorDescription</small>
        }
    </p>
</div>