@using Microsoft.Owin.Security.Cookies
@using Microsoft.Owin.Security.OpenIdConnect

@{
    Layout = null;

    var result = Request.GetOwinContext().Authentication.AuthenticateAsync(CookieAuthenticationDefaults.AuthenticationType).Result;

    if (result == null) {
        Request.GetOwinContext().Authentication.Challenge(OpenIdConnectAuthenticationDefaults.AuthenticationType);
        return;
    }
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title></title>
</head>
<body>
  <div>
    <h1>Hello, @result.Identity.Name!</h1>

    <table>
      @foreach (var claim in result.Identity.Claims) {
          <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
          </tr>
      }
    </table>

  </div>
</body>
</html>