@using Microsoft.Owin
@using Nancy.ViewEngines.Razor
@using Owin.Security.OpenIdConnect.Server.Messages

@inherits NancyRazorViewBase<AuthorizeEndpointRequest>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/oauth2/authorize" enctype="application/x-www-form-urlencoded" method="post">
            @Html.AntiForgeryToken()

            @foreach (var parameter in Model.Parameters) {
                <input type="hidden" name="@parameter.Key" value="@Model.Parameters.Get(parameter.Key)" />
            }

            Do you wanna authorize @Model.ClientId?
            <input type="submit" />
        </form>
    </div>
</body>
</html>
