@using Microsoft.IdentityModel.Protocols
@using Nancy.Server.Models
@using Nancy.ViewEngines.Razor

@inherits NancyRazorViewBase<Tuple<OpenIdConnectMessage, Application>>

<div class="jumbotron">
    <h1>Authorization</h1>
    <p class="lead text-left">Do you wanna grant <strong>@Model.Item2.DisplayName</strong> an access to your resources?</p>

    <form action="/connect/authorize" enctype="application/x-www-form-urlencoded" method="post">
        @Html.AntiForgeryToken()

        @foreach (var parameter in Model.Item1.Parameters) {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <button class="btn btn-lg btn-success" type="submit">Yeah, sure</button>
    </form>
</div>
