@using System.Collections.Generic
@using System.Security.Claims
@using System.Web
@using Owin
@using Owin.Security.OpenIdConnect.Server

@{
    Layout = null;

    var context = Context.GetOwinContext();

    var response = context.GetOpenIdConnectResponse();
    if (response != null) {
        <div>@response.Error</div>

        if (!string.IsNullOrWhiteSpace(response.ErrorDescription)) {
            <div>@response.ErrorDescription</div>
        }

        return;
    }

    var request = context.GetOpenIdConnectRequest();
    if (request == null) {
        return;
    }

    var identity = new ClaimsIdentity(OpenIdConnectDefaults.AuthenticationType);

    var claims = new List<Claim> {
        new Claim(ClaimsIdentity.DefaultNameClaimType, "Max Muster"),
        new Claim("sub", "Max Muster"), new Claim("user_id", "4711"),
        new Claim("Role", "Manager"), new Claim("Company", "ACME")
    };

    if (request.Scope != null) {
        claims.Add(new Claim("scope", string.Join(" ", request.Scope)));
    }

    identity.AddClaims(claims);

    var manager = Request.GetOwinContext().Authentication;
    manager.SignIn(identity);
}